<ul class="list-group">
    <li
      routerLink="taller/inicio"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
      class="list-group-item"
    >
      <span class="list-icon">🏠</span> Inicio
    </li>
    <li
      routerLink="taller/usuarios"
      routerLinkActive="active"
      class="list-group-item"
    >
      <span class="list-icon">👤</span> Usuarios
    </li>
    <li
      routerLink="taller/carros/all"
      routerLinkActive="active"
      class="list-group-item"
    >
      <span class="list-icon">🚗</span> Carros
    </li>
    <li
      routerLink="taller/reparaciones/all"
      routerLinkActive="active"
      class="list-group-item"
    >
      <span class="list-icon">🔧</span> Reparaciones
    </li>
  </ul>
  